body{
  color: #999999;
  font-family: Bahnschrift, sans-serif;
}
.form {
  width: 80%;
  height: 900px;
  margin: 20px auto;
  background-color: #011522;
  border-radius: 8px;
  z-index: 1;
}
.info{
  margin-left: 30px;
  padding-top: 25px;
  font-size: large;
}
.header, .header1{
  color: #F4AC45;
  font-size: x-large;
  padding-top: 35px;
  padding-left: 150px;
}
.header1{
  padding-left: 70px;
}
.information{
  color: #f2796e;
}
.slinks{
  font-size: 30px;
  margin-left: 5px;
}

